body {
    background: #F0AD4E;
}

.card {
    margin: 0;
}

.card.block, .card-header, .card-footer {
    border: 0;
}

.display-3 {
    font-family: 'IM Fell French Canon SC', serif;
}
.card-text, #search-submit, .card-header, .card-footer{
    font-family: 'El Messiri', serif;
    font-weight: bold;
}

.display-1  {
    font-family: 'Rouge Script', cursive;
}

.search-box, #search-label {
    font-family: 'Pacifico', cursive;
}

.card-title {
    position: relative;
    margin-bottom: 30px;
}

.step-up, .chance {
    font-weight: 600;
    font-size: 7rem;
} 
.step-up {
    margin-bottom: -150px;
}

.amp {
    color: #373A3C;
    opacity: 0.5;
    font-size: 20rem;
}

.chance {
    margin-top: -150px;
    margin-bottom: 0;
}

.card-text {
    max-width: 750px;
}

.lead {
    margin-top: 10px;
}

hr {
    border-color: #8d570c;
    max-width: 50%;
}

#search-bar {
    display: inline-flex;
    width: auto;
    max-width: 70%;
}

#search-box {
    width: 0;
    padding: 0;
    font-size: 2rem;
    color: #F0AD4E;
    background-color: #373A3C;
    opacity: 0.3;
}

#search-submit {
    background-color: #373A3C;
    padding: .1em 1.75em;
    margin: auto;
    top: 0;   
    font-size: 2.5rem;
    box-shadow: 1px 1px 1px #111;
}

#search-box::-webkit-input-placeholder { 
    color: #F0AD4E;
    opacity: 0.5;
}
#search-box::-moz-input-placeholder {
    color: #F0AD4E;
    opacity: 0.5;
}
#search-box:-moz-input-placeholder {
    color: #F0AD4E;
    opacity: 0.5;
}
#search-box:-ms-input-placeholder {
    color: #F0AD4E;
    opacity: 0.5;
}

#search-label {
    color: #373A3C;
    font-weight: 600;
    font-stretch: expanded;
    padding-bottom: 0;
}



